{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
    <div style="text-align: center; margin: 100px auto 100px;">
        <div style="margin: 10px;">
        <label for="teacher_id" style="font-size: 18px;font-weight: lighter;">教师 ID</label>
        <input style="margin-left: 10px; border: 0;background-color: #f6f5ed;height: 27px;"name="teacher_id" id="teacher_id" required>
        </div>
        <div style="margin: 10px;">
        <label style="font-size: 18px;font-weight: lighter;" for="username">用户名</label>
        <input style="margin-left: 12px; border: 0;background-color: #f6f5ed;height: 27px;"name="username" id="username" required>
        </div>
        <div style="margin: 10px;">
        <label style="font-size: 18px;font-weight: lighter;" for="password">密码</label>
        <input style="margin-left: 30px; border: 0;background-color: #f6f5ed;height: 27px;"type="password" name="password" id="password" required>
        </div>
        <input type="submit" value="注册" style="margin-top: 30px; font-size: 17px">
    </div>
    </form>
{% endblock %}
